# Salin file ini menjadi .env dan isi dengan nilai yang sesuai
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=your_email@gmail.com
EMAIL_TO=destination@gmail.com

SECRET_KEY=your-secret-key-here
